{
  "schema_version": "v1",
  "name_for_human": "Financeiro GPT",
  "name_for_model": "financeiroGPT",
  "description_for_human": "Consulta ações, lê planilhas do Google Sheets e gera relatórios em PDF.",
  "description_for_model": "Consulta dados financeiros de ações com SerpAPI, lê Google Sheets e gera relatórios PDF com HTML.",
  "auth": {
    "type": "none"
  },
  "api": {
    "type": "openapi",
    "url": "https://seu-servidor.com/openapi.yaml",
    "has_user_authentication": true
  },
  "contact_email": "info@latinlaunch.com",
  "legal_info_url": "https://latinlaunch.com/termos"
}
openapi: 3.1.0
info:
  title: Google Finance via SerpAPI
  version: 1.0.0
  description: Retorna dados financeiros de ações usando a engine do Google Finance da SerpAPI.
servers:
  - url: https://serpapi.com
paths:
  /search:
    get:
      operationId: buscarDadosFinanceiros
      summary: Buscar dados financeiros de uma ação pelo ticker
      parameters:
        - name: engine
          in: query
          required: true
          schema:
            type: string
          example: google_finance
        - name: q
          in: query
          required: true
          description: Ticker da ação (ex: PETR4.SA)
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dados financeiros retornados com sucesso
          content:
            application/json:
              schema:
                type: object
                description: Informações como preço, volume, histórico e variação
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
openapi: 3.1.0
info:
  title: Google Sheets Reader
  version: 1.0.0
  description: Lê dados de uma planilha do Google Sheets via API oficial.
servers:
  - url: https://sheets.googleapis.com
paths:
  /v4/spreadsheets/{spreadsheetId}/values/{range}:
    get:
      operationId: lerPlanilha
      summary: Lê um intervalo de células de uma planilha do Google Sheets
      parameters:
        - name: spreadsheetId
          in: path
          required: true
          schema:
            type: string
        - name: range
          in: path
          required: true
          schema:
            type: string
            example: Dividendos!A1:B11
      responses:
        '200':
          description: Conteúdo da planilha lido com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                  values:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
      security:
        - oauth2: []
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/spreadsheets.readonly: Permite leitura de planilhas
openapi: 3.1.0
info:
  title: Conversor de HTML para PDF (PDFShift)
  version: 1.0.0
  description: Converte conteúdo HTML em PDF usando a API do PDFShift.
servers:
  - url: https://api.pdfshift.io/v3
paths:
  /convert/html:
    post:
      operationId: gerarPdf
      summary: Converte HTML em PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: Código HTML a ser convertido
      responses:
        '200':
          description: PDF gerado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: URL para download do PDF
      security:
        - basicAuth: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
