openapi: 3.1.0
info:
  title: Ações Financeiras e PDF
  version: 1.0.0
  description: API que une Google Finance via SerpAPI, Google Sheets e PDFShift para relatórios.
servers:
  - url: https://serpapi.com
  - url: https://sheets.googleapis.com
  - url: https://api.pdfshift.io/v3
paths:
  /search:
    get:
      operationId: buscarDadosFinanceiros
      summary: Buscar dados financeiros de uma ação pelo ticker
      parameters:
        - name: engine
          in: query
          required: true
          schema:
            type: string
          example: google_finance
        - name: q
          in: query
          required: true
          description: Ticker da ação (ex: PETR4.SA)
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dados financeiros retornados com sucesso
          content:
            application/json:
              schema:
                type: object
      security:
        - bearerAuth: []
  /v4/spreadsheets/{spreadsheetId}/values/{range}:
    get:
      operationId: lerPlanilha
      summary: Lê um intervalo de células de uma planilha do Google Sheets
      parameters:
        - name: spreadsheetId
          in: path
          required: true
          schema:
            type: string
        - name: range
          in: path
          required: true
          schema:
            type: string
            example: Dividendos!A1:B11
      responses:
        '200':
          description: Conteúdo da planilha lido com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                  values:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
      security:
        - oauth2: []
  /convert/html:
    post:
      operationId: gerarPdf
      summary: Converte HTML em PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: Código HTML a ser convertido
      responses:
        '200':
          description: PDF gerado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
      security:
        - basicAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/spreadsheets.readonly: Leitura de planilhas
    basicAuth:
      type: http
      scheme: basic
